<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearth and Kin: Homepage</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="toastContainer" aria-live="polite"></div>
    <header>
        <img id="logo" src="static/img/DALL1.png" alt="Hearth and Kin Logo">
    </header>

    <main>
        <hr>
        <section id="auth">
            <input type="text" id="username" placeholder="Username" aria-label="Username">
            <input type="password" id="password" placeholder="Password" aria-label="Password">
            <button id="loginBtn">Login</button>
        </section>
        <div id="errorContainer" role="alert"></div>
        <hr>

        <p class="register-text">Don't have an account yet? <a href="/register" id="registerLink" class="register-link">Register here!</a></p>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="js/index.js"></script>
</body>
</html>
